
<ng-container *ngIf="ready then content else loading"></ng-container>

<ng-template #content>
    <div class="main">
        <mat-tab-group animationDuration="200ms">
            <mat-tab label="Member Information" *ngIf="!memberDetails.membershipVerified">
                <div class="base member-information mat-elevation-z4">
                  <div class="info-section">
                    <h3>Member Information</h3>
                    <mat-form-field class="example-full-width">
                      <mat-label>Expa ID</mat-label>
                      <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>AIESEC Email</mat-label>
                      <input matInput>
                    </mat-form-field>
                    <button class="mat-elevation-z4 save-button">
                      <fa-icon class="fa-solid fa-save"></fa-icon>
                      Save Changes
                    </button>
                  </div>
                  <div class="docs-section">
                    <h3>Data Security Documents</h3>
                    <button class="mat-elevation-z4 docs-button">
                      <fa-icon class="fa-solid fa-download"></fa-icon>
                      Download
                    </button>
                    <button class="mat-elevation-z4 docs-button">
                      <fa-icon class="fa-solid fa-upload"></fa-icon>
                      Upload
                    </button>
                  </div>
                </div>
            </mat-tab>
            <mat-tab label="Roles">
                <div class="base mat-elevation-z4">
                    <h3>Current Role</h3>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                          Team Leader
                        </mat-panel-title>
                        <mat-panel-description>
                          Talent Management
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <span class="panel-line"><span>Term: </span><span class="infos">11.09.2023 &ndash; 11.03.2024</span></span>
                        <span class="panel-line"><span>Job Description: </span><span class="infos">Recruiter</span></span>
                    </mat-expansion-panel>
                    <span class="status"><span>Stage:</span>
                      <select [(ngModel)]="currentMemberStatus">
                          <option *ngFor="let stage of memberStages" [ngValue]="stage.value">{{stage.displayValue}}</option>
                      </select>
                      <button (click)="saveMemberChanges()">Update Member</button>
                    </span>
                    <h3>Past Roles</h3>
                    <mat-expansion-panel
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                              Vice President
                            </mat-panel-title>
                            <mat-panel-description>
                              Incoming Global Talent
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <span class="characteristics"><span>Term: </span><span class="infos">11.09.2023 &ndash; 11.03.2024</span></span>
                    </mat-expansion-panel>
                </div>
            </mat-tab>
            <mat-tab label="Goal Setting">
                <div class="base mat-elevation-z4">
                  <h3>Current Goals</h3>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                      <mat-panel-title>
                        Goal 1
                      </mat-panel-title>
                      <mat-panel-description>
                        Sign Ups
                      </mat-panel-description>
                      </mat-expansion-panel-header>
                      <span class="panel-line"><span>Sign Ups: </span><span class="infos">45</span></span>
                      <span class="panel-line"><span>Realized: </span><span class="infos">120</span></span>
                  </mat-expansion-panel>
                  <h3>Past Goals</h3>
                  <mat-expansion-panel
                      (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false"
                  >
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                            Goal 25
                          </mat-panel-title>
                          <mat-panel-description>
                            Sign Ups
                          </mat-panel-description>
                      </mat-expansion-panel-header>
                      <span class="characteristics"><span>Term: </span><span class="infos">11.09.2023 &ndash; 11.03.2024</span></span>
                  </mat-expansion-panel>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

<!-- 
    <h1>Member Information</h1>
    <span class="characteristics"><span>Expa ID: </span><span class="infos">{{memberDetails.expaId}}</span></span>
    <span class="characteristics"><span>AIESEC Email: </span><span class="infos">{{memberDetails.aiesecEmail}}</span></span>
    <span class="characteristics"><span>Function: </span><span class="infos">TM</span></span>

    <span class="characteristics"><span>Data Security Files: </span><span class="infos">Bla</span></span>

    <h1>Goal Setting</h1>
    <h2>Current Goal</h2>

    <h2>Previous Goals</h2> -->
</ng-template>

<ng-template #loading>
    <div class="loading">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>