<h1>Member Information</h1>
<span class="characteristics"><span>Expa ID: </span><span class="infos">{{memberDetails.expaId}}</span></span>
<span class="characteristics"><span>AIESEC Email: </span><span class="infos">{{memberDetails.aiesecEmail}}</span></span>
<span class="characteristics"><span>Function: </span><span class="infos">TM</span></span>

<span class="characteristics"><span>Data Security Files: </span><span class="infos">Bla</span></span>

<h1>Member Roles</h1>
<h2>Current Role</h2>
<span class="characteristics"><span>Term: </span><span class="infos">11.09.2023 &ndash; 11.03.2024</span></span>
<span class="characteristics"><span>Job Description: </span><span class="infos">Recruiter</span></span>

<h2>Previous Roles</h2>
<span class="characteristics"><span>Previous Roles: </span><span class="infos">111</span></span>

<h1>Goal Setting</h1>
<h2>Current Goal</h2>

<h2>Previous Goals</h2>