@import '../../variables.scss';

$tab-padding: 20px;
$tab-margin: 18px;

.main {
    height: 100%;
}

mat-tab-group {
    padding: 10px;
    height: calc(100% - 20px);
}

:host ::ng-deep .mat-mdc-tab-body-wrapper{
    flex-grow: 1;
}

.loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base {
    display: flex;
    flex-direction: column;
    margin: $tab-margin;
    padding: $tab-padding;
    border-radius: 8px;
    height: calc(100% - 2*$tab-margin - 2*$tab-padding);
    width: calc(100% - 2*$tab-margin - 2*$tab-padding);
}

.member-information {
    flex-direction: row;
    justify-content: space-around;
}

.info-section, .docs-section {
    column-gap: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 45%;

    .docs-button, .save-button {
        width: 50%;
        border-radius: 10px;
        padding: 10px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        fa-icon {
            margin-right: 10px;
        }
    }

    .docs-button {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .docs-button:hover, .save-button:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        cursor: pointer;
    }
}

.panel-line {
    display: block
}

.status {
    grid-column: 1 / span 1;
    grid-row: 13 / span 2;
    display: flex;
    align-items: center;
    border: 3px solid var(--primary-color);
    border-radius: $box-border-radius;
    span {
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
    }
    select {
        padding: 10px;
        margin-left: auto;
        background-color: var(--secondary-color);
        border-radius: $box-border-radius;
        max-width: 20rem;
        min-width: 20rem;
    }
    select:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        cursor: pointer;
    }

    button {
        margin-left: auto;
        margin-right: 15px;
        border-radius: $box-border-radius;
        padding: 10px;
        background-color: var(--secondary-color);
    }

    button:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        cursor: pointer;
    }
}

