<div class="login-screen">

    <img src="../../assets/polar-compass.jpg">
    <h1>Welcome to Polar!</h1>

    <div id="g_id_onload"
        data-client_id="808884428485-1dqf0kf4oh3p584i8hqbmu9r70f3qktf.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:8000/login"
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="continue_with"
        data-size="large"
        data-locale="en"
        data-logo_alignment="left">
    </div>

</div>
