<h1>LC Management</h1>

<mat-card>
    <div class="member-nav">
        <mat-selection-list
            multiple="false"
            hideSingleSelectionIndicator="true"
            color="primary"
        >
            <ng-container *ngFor="let member of members">
                <mat-list-option (click)="onMemberSelected(member._id)">
                    {{member.firstName}}
                </mat-list-option>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-selection-list>
    </div>
    <div class="member-performance">
        <app-performance-management-details *ngIf="selectedMemberId" [member]="selectedMemberId"></app-performance-management-details>
    </div>
</mat-card>