<h1>LC Management</h1>

<mat-card>
    <ng-container *ngIf="ready then content else loading"></ng-container>
</mat-card>

<ng-template #content>
    <div class="member-nav">
        <mat-selection-list
            multiple="false"
            hideSingleSelectionIndicator="true"
            color="primary"
        >
            <ng-container *ngFor="let member of members">
                <mat-list-option (click)="onMemberSelected(member._id)">
                    {{member.firstName}}
                </mat-list-option>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-selection-list>
    </div>
    <div class="member-performance">
        <app-performance-management-details *ngIf="selectedMemberId" [memberId]="selectedMemberId"></app-performance-management-details>
        <div class="lc-info" *ngIf="!selectedMemberId">
            <h2>Select a member to see his/her performance</h2>
            <span>Current Number of Members in LC:</span>
            <span>Talent Management:</span>
            <span>Incoming Global Talent:</span>
            <span>Outgoing Global Talent:</span>
            <span>Finance:</span>
            <span>Marketing:</span>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="loading">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>