<div class="content">
    <div class="labels">
        <p>Applicant ID: </p>
        <p>First Name: </p>
        <p>Last Name: </p>
        <p>Local Committee: </p>
        <p>Status: </p>
        <p>Email: </p>
        <p>Telephone Number: </p>
        <p>Occupation: </p>
        <p>German Level: </p>
        <p>Recruitment Channel: </p>
        <p>Motivation for joining: </p>
        <p>CV: </p>
        <p>Team interested in joining: </p>
    </div>
    <div class="infos">
        <p>1236492 </p>
        <p>Carlos </p>
        <p>Giese </p>
        <p>Berlin TU </p>
        <p>Accepted </p>
        <p>Carlos.Giese@aiesec.de </p>
        <p>0123456789 </p>
        <p>Student </p>
        <p>Mother tongue </p>
        <p>Facebook </p>
        <p>Networking </p>
        <p>CV here </p>
        <p>Talent Management </p>
    </div>
    <div class="changelog">
        <p class="header">Changelog: </p>
        <p>12.03.2023 - Status changed: Open </p>
        <p>13.03.2023 - Status changed: Contacted </p>
        <p>14.03.2023 - Status changed: Interviewed </p>
        <p>15.03.2023 - Status changed: Accepted </p>
    </div>
    
</div>