<div class="content">
    <div class="labels">
        <p>Applicant ID: </p>
        <p>First Name: </p>
        <p>Last Name: </p>
        <p>Local Committee: </p>
        <p>Status: </p>
        <p>Email: </p>
        <p>Telephone Number: </p>
        <p>Occupation: </p>
        <p>German Level: </p>
        <p>Recruitment Channel: </p>
        <p>Motivation for joining: </p>
        <p>CV: </p>
        <p>Team interested in joining: </p>
    </div>
    <div class="infos">
        <p>1236492 </p>
        <p>Euphonious </p>
        <p>Garcia </p>
        <p>Aachen </p>
        <select>
            <option value="open">Open</option>
            <option value="contacted">Contacted</option>
            <option value="toBeInterviewed">To Be Interviewed</option>
            <option value="interviewed">Interviewed</option>
            <option value="onHold">On Hold</option>
            <option value="toBeRejected">To Be Rejected</option>
            <option value="rejected">Rejected</option>
            <option value="candidateNotInterested">Candidate Not Interested</option>
            <option value="selected">Selected</option>
            <option value="duplicate">Duplicate</option>
        </select>
        <p>eupho.garcia@aiesec.de </p>
        <p>0123456789 </p>
        <p>Student </p>
        <p>Mother tongue </p>
        <p>Facebook </p>
        <p>Networking </p>
        <p>CV here </p>
        <p>Talent Management </p>
    </div>
    <div class="changelog">
        <p class="header">Changelog: </p>
        <p>12.03.2023 - Status changed: Open </p>
        <p>13.03.2023 - Status changed: Contacted </p>
        <p>14.03.2023 - Status changed: Interviewed </p>
        <p>15.03.2023 - Status changed: Accepted </p>
    </div>
    
    <div class="chatbox">
        <div id='chatborder'>
            <p *ngFor="let comment of comments" class="chatlog">{{comment}}</p>
            <input type="text" name="chat" id="chatbox" [(ngModel)]="newComment" (keydown.enter)="addComment()" placeholder="Add Comment">
        </div>
    </div>
    <button (onclick)="saveApplicantChanges()">Save Changes</button>
    
</div>