<ng-container *ngIf="ready then content else loading"></ng-container>

<ng-template #content>
    <div class="content">
        <div class="member-information">
            <span class="characteristics"><span>Member ID: </span><span class="infos">{{memberDetails._id}}</span></span>
            <span class="characteristics"><span>First Name: </span><span class="infos">{{memberDetails.firstName}}</span></span>
            <span class="characteristics"><span>Family Name: </span><span class="infos">{{memberDetails.familyName}}</span></span>
            <span class="characteristics"><span>Local Committee: </span><span class="infos">{{memberDetails.lc}}</span></span>
            <span class="characteristics"><span>Email: </span><span class="infos">{{memberDetails.email}}</span></span>
            <span class="characteristics"><span>Telephone Number: </span><span class="infos">{{memberDetails.telephone}}</span></span>
            <span class="characteristics"><span>Expa ID: </span><span class="infos">{{memberDetails.expaId}}</span></span>
            <span class="characteristics"><span>AIESEC Email: </span><span class="infos">{{memberDetails.aiesecEmail}}</span></span>
            <span class="characteristics"><span>Member Since: </span><span class="infos">{{transformDate(memberDetails.createdAt)}}</span></span>
            <span class="characteristics"><span>Function: </span><span class="infos">TM</span></span>
            <span class="characteristics"><span>Role: </span><span class="infos">Newbie</span></span>
            <span class="characteristics"><span>Term: </span><span class="infos">11.09.2023 &ndash; 11.03.2024</span></span>
        </div>
        <div class="comment-box">
            <h3>Comment-Box</h3>
            <div class="entries">
                <!-- <span class="entry" *ngFor="entry in memberDetails.changelog">
                    <span class="date">{{entry.date}}</span>&nbsp;
                    <span class="change">{{entry.change}}</span>
                </span> -->
            <p>12.03.2023 - Status changed: Open </p>
            <p>13.03.2023 - Status changed: Contacted </p>
            <p>14.03.2023 - Status changed: Interviewed </p>
            <p>15.03.2023 - Status changed: Accepted </p>
            <p>15.03.2023 - Status changed: Accepted </p>
            <p>15.03.2023 - Status changed: Accepted </p>
            <p>15.03.2023 - Status changed: Accepted </p>
            <p>15.03.2023 - Status changed: Accepted </p>
            <p>15.03.2023 - Status changed: Accepted 15.03.2023 - Status changed: Accepted 15.03.2023 - Status changed: Accepted</p>
            <p>15.03.2023 - Status changed: Accepted </p>

            </div>
            <input type="text" class="chatbox" [(ngModel)]="newComment" (keydown.enter)="addComment()" placeholder="Add Comment">
        </div>
        <span class="status"><span>Stage: </span><span class="infos">{{transformStatusView(memberDetails.status)}}</span></span>
    </div>
</ng-template>

<ng-template #loading>
    <div class="loading">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>